body { color: black; 
	background-color: #818181;
	font: 24px Trebuchet MS, sans-serif;  
	/*line-height: 2.5;*/
	text-align: center;
}
	
h1 {
    size: 50px;
    text-align: center
}

#btnStart {

}

#btnStop {

}

#btnSubmit {
    
}

#parsedTable {
    margin: auto;
    width: 30%;
    background-color: #fff;
}

#parsedTable td, #parsedTable th {
    border: 1px solid #dddddd;
    text-align: center;
    width: 50%;
    padding: 10px;
}

#parsedTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#parsedTable th {
    background-color: #4CAF50;
    color: white;
}