body { color: black; 
	background-color: #818181;
	font: 24px Trebuchet MS, sans-serif;  
	/*line-height: 2.5;*/
	text-align: center;
}
	
h1 {
    size: 50px;
    text-align: center
}

#btnStart {

}

#btnStop {

}

#btnSubmit {
    
}