<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>{% block header %}{% endblock %}</h1>
    </header>
    <main>
        {% with messages = get_flashed_messages () %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li><b>{{ message }}</b></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>
            {% if current_user.is_authenticated == False %}
            <a href="{{ url_for('login')}}">Login</a> or <a href="{{ url_for('register') }}">register</a> to save your recording.
            {% else %}
            <a href="{{ url_for('logout')}}">Logout</a>
            {% endif %}
        </p>
        <p style="font-size: small;">All rights reserved © 2024</p>
        <div class="footer">
            <p>Need help? <a href="group19@ucl.ac.uk">Contact Support</a></p>
        </div>
        {% block footer %}{% endblock %}
    </footer>
</html>