<!--second registration form-->
{% extends "base.html" %}

{% block content %}
    {% if valid == False %}
        <h2>No account found.</h2>
        <p>Please wait for your GP to register you before attempting to complete sign-up.</p>
        <a href='{{url_for("upload_file")}}'><p>Return to home page</p></a>
    {% else %}
        <h2>Email confirmation sent</h2>
        <p>An email has been sent to {{ email }}. Please click the link in it to complete sign-up.</p>
    {% endif %}

{% endblock %}