{% extends "base.html" %}

{% block title %}VocalDoc{% endblock %}
{% block header %}Forgot password{% endblock %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
                <b><span style="color: pink;">{{error}}</span></b>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}