{% extends "base.html" %}

{% block title %}VocalDoc{% endblock %}
{% block head %}
    <script src="static/main.js"></script>
{% endblock %}

{% block header %}VocalDoc{% endblock %}
{% block content %}
    {% if current_user.is_authenticated %}
        <h1>Welcome back, {{ current_user.forename }}!</h1>
    {% else %}
        <h1>Welcome to VocalDoc</h1>
    {% endif %}
    <h2>Speak to fill in the fields in the table.</h1> 
    <button id="btnStart" class = "button">START RECORDING</button>
    <button id="btnStop" class = "button">STOP RECORDING</button>
    <p><audio id="audioRecording" controls></audio></p>

    <h2>What I heard:</h2>
    <p id="transcribedSpeech"></p>
    <table id="parsedTable">
        <tr>
            <td>patient number</td>
            <td></td>
        </tr>
        <tr>
            <td>name</td>
            <td></td>
        </tr>
        <tr>
            <td>date</td>
            <td></td>
        </tr>
        <tr>
            <td>symptoms</td>
            <td></td>
        </tr>
        <tr>
            <td>diagnosis</td>
            <td></td>
        </tr>
        <tr>
            <td>prescription</td>
            <td></td>
        </tr>
        <tr>
            <td>dosage</td>
            <td></td>
        </tr>
        <tr>
            <td>notes</td>
            <td></td>
        </tr>
    </table>

    <p><button id="btnSubmit" class="button" disabled=true>SUBMIT DATA</button></p>
{% endblock %}
    