<html>
    <head>
        <title>VocalDoc</title>
        <script src="static/main.js"></script>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Speak into the microphone and it will be translated</h1> 
        <button id="btnStart">START RECORDING</button>
        <button id="btnStop"">STOP RECORDING</button>
        <audio id="audioRecording" controls></audio>
        <button id="btnSubmit">SUBMIT RECORDING</button></p>

        <h2>What I heard:</h2>
        <p id="transcribedSpeech"></p>
    </body>
</html>