{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block header %}Login{% endblock %}

{% block content %}
    <div class="input-group" style="margin:auto;">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.email(placeholder=form.email.label.text) }}<br>
                {% for error in form.email.errors %}
                    <b><span style="color: pink;">{{error}}</span></b>
                {% endfor %}
            </p>
            <p>
                {{ form.password(placeholder=form.password.label.text) }}<br>
                {% for error in form.password.errors %}
                <b><span style="color: pink;">{{error}}</span></b>
                {% endfor %}
            </p>
            <p>{{ form.remember.label }} {{ form.remember() }}</p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
    <p>New User? Click to register <a href="{{ url_for('register') }}">as a doctor</a>.</p>
    <p>Forgot your password? Click <a href="{{ url_for('forgotpassword') }}">here</a>.</p>
{% endblock %}