{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block header %}Register: Doctor{% endblock %}
{% block content %}
    <div class="input-group" style="margin:auto;">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div>
                {{ form.forename(placeholder=form.forename.label.text) }}<br>
                {% for error in form.forename.errors %}
                    <b><span style="color: pink;">{{error}}</span></b>
                {% endfor %}
            </div>
            <div>
                {{ form.surname(placeholder=form.surname.label.text) }}<br>
                {% for error in form.surname.errors %}
                    <b><span style="color: pink;">{{error}}</span></b>
                {% endfor %}
            </div>
            <div>
                {{ form.idnumber(placeholder=form.idnumber.label.text) }}<br>
                {% for error in form.idnumber.errors %}
                    <b><span style="color: pink;">{{error}}</span></b>
                {% endfor %}
            </div>
            <div>
                {{ form.email(placeholder="Email") }}<br>
                {% for error in form.email.errors %}
                    <b><span style="color: pink;">{{error}}</span></b>
                {% endfor %}
            </div>
            <div>
                {{form.dob.label}}: {{ form.dob() }}
                {% for error in form.dob.errors %}
                    <b><span style="color: pink;">{{error}}</span></b>
                {% endfor %}
            </div>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </div>
{% endblock %}
            