{% extends "base.html" %}

{% block title %}Admin Registration{% endblock %}

{% block header %}VocalDoc{% endblock %}

{% block content %}
    <h1>Register as admin</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
                <b><span style="color: pink;">{{error}}</span></b>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <b><span style="color: pink;">{{error}}</span></b>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
                <b><span style="color: pink;">{{error}}</span></b>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}